.header{
  height: 75px;
  display: flex;
  align-items: inherit;
  padding: 15px 20px;
}
.field{
  border-radius: var(--border-radius);
  background-color: var(--dark-primary);
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-right: 10px;
  padding: 10px 10px;
  flex: 1;
  input{
    border: none;
    background: none;
    color: var(--color-text-main);
  }
  svg{
    color: var(--color-text-main);
  }
}