.profileCenter{
  flex: 1;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}
.postsBlock{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--block-gap);
}