.profileCenter{
  flex: 1;
}
.postsBlock{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: var(--block-gap);
}
.postCreateAre{
  margin-bottom: var(--block-gap);
}
.postsArea, .friendActionBar {
  background-color: var(--color-white);
  border-radius: var(--border-radius);
}

.friendActionBar{
  margin-bottom: var(--block-gap);

  &__btns{
    display: flex;
    gap: 1rem;
    padding: 20px;
  }
}