:root {
  --app-font: "Roboto",sans-serif;

  --header-height : 90px;

  --color-primary : #2BA7F3; // main design color
  --color-red-low : #d95454;
  --color-green: #62db62;

  --container-width: 1900px;
  --card-padding : 20px;
  --block-gap : 20px;

  --border-radius: 5px;

}

:root[data-theme="light"] {
  --color-light : #edf0f2; // light is background secondary color
  --color-white : #ffffff; // white is blocks primary color
  --color-grey-low: #bab9b9;
  --color-grey-middle: #929292;
  --color-text-main: #000000;
  --color-text-secondary: var(--color-grey-low);
  --color-message-hover : rgba(237, 240, 242, 0.37);
  --dark-primary: rgba(213, 213, 213, 0.28);
  --box-shadow: rgba(179, 178, 178, 0.14);
  --post-background : var(--color-light);
  --chat-background : #ffffff;
  --chat-body-background : #577d8e17;
  --dialogs-background : var(--dark-primary);
}

:root[data-theme="dark"] {
  --color-light : #262D37;
  --color-white : #2f3741; // is going to be black --> blocks primary
  --color-grey-low: #a3a3a3;
  --color-grey-middle: #929292;
  --color-text-main: #ffffff;
  --color-text-secondary: var(--color-grey-low);
  --color-message-hover : rgba(38, 45, 55, 0.43);
  --dark-primary: #1b212b;
  --box-shadow: rgba(12, 12, 12, 0.14);
  --post-background : #484c55;
  --chat-background : var(--dark-primary);
  --chat-body-background : var(--chat-background);
  --dialogs-background : var(--color-white);
}
