.content{
  width: 700px;
  min-height: 400px;
}
.text{
  padding: 100px 20px;
  color: var(--color-text-main);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button{
    margin-top: 100px !important;
  }
  label{
    position: relative;
    z-index: 999;
  }
}
.selectedPhoto{
  margin: 50px 0;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  &.largePhoto{
    border-radius: var(--border-radius);
    width: 90%;
    height: 300px;
    img{
      border-radius: var(--border-radius);
    }
  }
}
.activeButtons{
  display: flex;
  align-items: center;
  gap: 1rem;
}