.section{
  height: calc( 100vh - var(--header-height) );
}
.container{
  max-width: var(--container-width);
  margin: 0 auto;
  display: flex;
  height: 100%;
  padding: 20px;
}
.sideBar{
  flex-basis: 520px;

}