.section{
  height: calc( 100vh - var(--header-height) );
}
.container{
  max-width: var(--container-width);
  margin: 0 auto;
  display: grid;
  height: 100%;
  grid-template-columns: 520px auto;
  padding: 20px;
}