.container{
  padding: 20px 20px;
  cursor: pointer;
  &:hover {
    background-color: var(--color-message-hover);
  }
}
.message{
  position: relative;
  display: flex;
  gap: 1rem;
}
.right{
  flex: 1;
  padding: 10px;
  background-color: var(--color-white);
  border-radius: var(--border-radius);
  border-top-left-radius: 0;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: -10px;
    width: 0;
    height: 0;
    background-color: transparent;
    border-top: 10px solid var(--color-white);
    border-left: 10px solid transparent;
  }
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
  }
  &__name{
    font-size: 16px;
    color: var(--color-red-low);
  }
  &__name_owner{
    color: var(--color-primary);
  }
  &__time{
    font-size: 12px;
    color: var(--color-grey-low);
  }
  &__text{
    color: var(--color-grey-middle);
    font-size: 14px;
  }
}