.profileLeft{
  flex-basis: 400px;
  &__top{
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    padding: 30px 15px;
    display: flex;
    flex-direction: column;
    padding-bottom: 0;
    justify-content: space-between;
    position: relative;
  }
  &__bottom{
    margin-top: var(--block-gap);
  }
}
.profileArrow{
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 999;
  color: var(--color-primary) !important;
}
.user{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;

  &__fullName{
    color: var(--color-text-main);
    font-size: 18px;
  }
  &__url{
    color: var(--color-grey-middle);
    font-weight: 400;
    font-size: 13px;
  }
  &__location{
    display: flex;
    gap: .2rem;
    font-weight: 300;
    align-items: center;
    font-size: 14px;
    color: var(--color-text-main)
  }
  &__status{
    color: var(--color-text-main);
    font-size: 14px;
    text-align: center;
    font-weight: 300;
  }
}


