.header{
  min-height: 92px;
  padding: 20px 20px;
  position: relative;
  background-color: var(--chat-background);
  border-bottom: 1px solid var(--color-light);
}
.wrapper{
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: space-between;
}
.left{
  display: flex;
  gap: 1rem;
  &__info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: .3rem;
  }
  &__title a{
    color: var(--color-text-main);
  }
  &__members{
    color: var(--color-grey-low);
  }
  &__status{
    display: flex;
    align-items: center;
    gap: .4rem;
    color: var(--color-grey-low);
    font-size: 13px;
  }

}
.right{
  button{
    color: var(--color-grey-low);
  }
  svg{
    color: var(--color-grey-middle);
    font-size: 29px;
  }
}
