.content{
  padding: 20px;
}
.user{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  &__avatar{
    position: relative;
  }
  p{
    color: var(--color-grey-low);
    cursor: pointer;
    text-decoration: underline;
  }
}
.form{
  padding: 20px;
}
.changesSaving{
  margin: 20px;
}