.fullScreen{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-light);
}
.loaderWrapper{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  div.small{
    height: 80px;
    width: 80px;
  }
  div.standart{
    height: 200px;
    width: 200px;
  }
  div.large{
    height: 300px;
    width: 300px;
  }
}