.container{
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 20px;
  display: grid;
  grid-template-columns: auto 300px;
  gap: var(--block-gap);
}
.leftPart > div{
  margin-bottom: var(--block-gap);
}
.stories{
  margin-bottom: calc(var(--block-gap) + 1rem);
}
