.dialogs {
  background-color: var(--dialogs-background);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  height: 100%;
  display: flex;
  flex-direction: column;
}

.empty {
  &__title {
    font-size: 19px;
    color: var(--color-grey-middle);
    text-align: center;
    margin-bottom: 6px;
  }

  &__link {
    color: var(--color-primary);
    text-align: center;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }
}

.dialodsItems {
  flex: 1;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    position: absolute;
    left: -50px;
    width: 6px;
  }
  &::-webkit-scrollbar-track {
    border-radius: 5px;
    position: absolute;
    left: -50px;
    width: 6px;
  }
  &::-webkit-scrollbar-thumb {
    position: absolute;
    left: -50px;
    width: 6px;
    border-radius: 5px;
    border: 3px solid var(--color-grey-low)
  }

}