.dialog{
  padding: 20px;
  display: flex;
  gap: 1rem;
  cursor: pointer;
  position: relative;
  &:hover{
    background-color: var(--dark-primary);
  }
  &:after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 2px;
    background-color: var(--color-primary);
    transition: 0.3s all;
    top: 0;
    transform: scaleY(0);
  }
  &.active{
    background-color: var(--dark-primary);
    &:after{
      transform: scaleY(1);
    }
  }
}
.right{
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  &__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title{
    color: var(--color-text-main);
    font-size: 17px;
  }
  &__time{
    color: var(--color-grey-low);
    font-size: 13px;
  }

  &__bottom p{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    line-clamp: 2;
    -webkit-box-orient: vertical;
    color: var(--color-grey-middle);
    font-size: 14px;
    font-weight: 400;
  }
}