.chat{
  background-color: var(--chat-background);
  height: 90vh;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-size: contain;
}
.noChat{
  height: 100%;
  display: grid;
  place-items: center;
  background-color: var(--chat-background);
}
.body{
  flex: 1;
  overflow-y: scroll;
}